{% extends "master.html" %}
{% block content %}
<div class="title">
	<h2>Generate authentication usb key image</h2>
	<span class="byline">To invoke an installation you'll need an authentication key.</span>
</div>
<h3>Enter password to protect the authentication key</h3>
<form id="form" method="post" action="/download/authkey" class="input">
    <div>
        <label for="pwd">Password:</label>
        <input id="pwd" name="pwd" type="password">
    </div>
    <div>
        <label for="confpwd">Confirm password:</label>
        <input id="confpwd" name="confpwd" type="password">
    </div>
    <button id="download" type="button">Download</button> <span id="errormessage"></span>
</form>
<script type="text/javascript">
var pwd = document.getElementById('pwd');
var confpwd = document.getElementById('confpwd');
var errormessage = document.getElementById('errormessage');
var form = document.getElementById("form");
document.getElementById("download").addEventListener("click", function () {
    var checks = {
        'Need at least two uppercase characters': /^.*[A-Z].*[A-Z].*$/,
        'Need at least two digits': /^.*[0-9].*[0-9].*$/,
        'Need at least three lowercase letters': /^.*[a-z].*[a-z].*[a-z].*$/,
        'Password must be at least 8 characters': /^.{8}.*$/
    };
    for (var error in checks) {
        if (!checks[error].test(pwd.value)) {
            errormessage.innerText = error;
            return false;
        }
    }
    if (pwd.value != confpwd.value) {
        errormessage.innerText = "Passwords do not match!";
        return false;
    }
    errormessage.innerText = "";
    form.submit();
});
</script>
{% endblock %}